@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}
.header-title {
  font-size: 2rem;          /* 32px */
  font-weight: 500;         /* Medium, not too bold */
  line-height: 1.2;
  color: #1e293b;           /* slate-800 */
  letter-spacing: -0.02em;
  margin: 0 0 1rem;
}
@keyframes topLoader {
  0% {
    left: -30%;
    width: 20%;
  }

  50% {
    width: 40%;
  }

  100% {
    left: 100%;
    width: 20%;
  }
}

.animate-top-loader {
  position: absolute;
  animation: topLoader 1.3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}